*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

#titulo {
    color: white;
    display: flex;
}

.logoEMA {
    height: 7rem;
    width: auto;
}

.pages_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    gap: 2rem;
}

#cab {
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    height: 20vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30rem;
    width: 100%;
    height: 100%;
}
.topnav:hover{  
    cursor: pointer;
}
.topnav {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 23px;
}
.botoestopo {
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: 10vw;
}
.dropdown {
    /* position: relative; */
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.cursos {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.cursos:hover {
    background-color: #777;
}

.main {
display: flex;
height: 85vh;
width: 100%;
justify-content: center;
gap: 1rem;
}
.titulo {
    display: flex;
height: 10vh;
align-items: center;
justify-content: center;
padding: 4rem;
}
.h1titulo {
    font-size: 3rem;
}






.borda {
    border: 3px solid red;
}
.borda2 {
    border: 3px solid blue;
}