*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.divnav {
display: flex;
height: 15vh;
width: 100vw;
}
.main {
display: flex;
height: 85vh;
width: 100vw;
justify-content: center;
gap: 1rem;
}
.titulo {
    display: flex;
height: 10vh;
align-items: center;
justify-content: center;
padding: 4rem;
}
.h1titulo {
    font-size: 3rem;
}






.borda {
    border: 3px solid red;
}
.borda2 {
    border: 3px solid blue;
}