* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#titulo {
    color: white;
    display: flex;
}

.logoEMA {
    height: 5rem;
    width: auto;
}

.pages_nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: end;
    gap: 2rem;

}

#cab {
    display: flex;
    background-color: rgb(0, 179, 255);
    height: 15vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
    position: fixed;
    z-index: 999;
}

#menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15rem;
    width: 100%;
    height: 100%;
}

.topnav:hover {
    cursor: pointer;
}

.topnav {
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 20px;
}

.botoestopo {
    display: flex;
    justify-content: flex-end;
    height: auto;
    width: 10vw;
}

.dropdown {
    /* position: relative; */
    display: inline-block;

}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cursos {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.cursos:hover {
    background-color: #777;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(0, 89, 0);
    z-index: 1;
}

#div1 {
    height: 100vh
}
.divTextImage {
    display: flex;
    justify-content: space-between;
}

.TitleAndParagraph{
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-left: 2rem;
    color: white;
}

.h1titulo {
    font-size: 2rem;  
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image {
    border-radius: 2rem;
}
#imagefront{
    width: 50vw;
    align-self: center;
}
.paragraphEMA{
    font-size: 1.1rem;
}

#div1 {
    padding-right: 2rem;
    height: 100%;
}
#div2 {
    padding-left: 1rem;
    padding-top: 6rem;
 height: 100%;
 padding-right: 2rem;
}
#endereco{
    padding-right: 1rem;
}

#image2 {
    width: 70vw;
    height: 60vh;
}

#image3{
    width: 40vw;
    height: 75vh;
}

#maps {
    align-self: center;
    border-radius: 1rem;
}
footer {
    display: flex;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
}

.textfooter {
    display: flex;
    align-items: center;
    justify-content: center;

}
#facebookEMA {
    text-decoration: none;
    color: blue;
}

.borda {
    border: 3px solid red;
}

.borda2 {
    border: 3px solid blue;
}